<div class="row">
    <uib-alert class="col-md-12" ng-if="ctrl.alert" type="{{ctrl.alert.type}}"
               dismiss-on-timeout="{{ctrl.alertTimeout}}" close="ctrl.onAlertClose(ctrl.alert)">{{ctrl.alert.message}}
    </uib-alert>
    <div class="col-md-6 col-md-offset-3">
        <form class="form-login" role="form" name="ctrl.resetForm" ng-submit="ctrl.onSubmit()" novalidate>
            <div class="form-group">
                <label class="pull-left">Email</label>
                <input class="form-control"
                       type="email"
                       name="email"
                       placeholder="Email"
                       ng-model="ctrl.resetFormData.email"
                       ng-model-options="ctrl.modelOptions"
                       required autofocus>
                <div class="col-md-12" ng-messages="ctrl.resetForm.email.$error" style="color:red"
                     role="alert" ng-if="ctrl.resetForm.email.$dirty">
                    <div class="pull-left" ng-message="required">This field is required</div>
                    <div class="pull-left" ng-message="email">This is not a valid email address</div>
                </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit"
                    ng-disabled="!ctrl.resetForm.$valid || ctrl.resetForm.$pristine">Reset Password</button>
        </form>
    </div>
</div>