<main>
    <leaflet id="map" lf-center="ctrl.center" markers="ctrl.markers" defaults="ctrl.defaults" layers="ctrl.layers" controls="ctrl.controls" event-broadcast="ctrl.events"></leaflet>

    <!-- Coordinate bounds of Map for development purposes -->
    <div ng-class="{'hidden':true}" class="col-md-12" id="map-coords">
        <div class="coord-bound" id="sw">
            <h3 class="coord-title">South West</h3>
            <form class="coord-lat-lng">
                Lat : <input type="number" step="any" ng-model="ctrl.bounds._southWest.lat"/>
                Lng : <input type="number" step="any" ng-model="ctrl.bounds._southWest.lng"/>
            </form>
        </div>
        <div class="coord-bound" id="ne">
            <h3 class="coord-title">North East</h3>
            <form class="coord-lat-lng">
                Lat : <input type="number" step="any" ng-model="ctrl.bounds._northEast.lat"/>
                Lng : <input type="number" step="any" ng-model="ctrl.bounds._northEast.lng"/>
            </form>
        </div>
    </div>

    <!-- This is the NVD3 data plot that is linked with the Details Panel -->
    <div id="details-plot" ng-class="{'hidden':!ctrl.plotVisible}" class="col-md-12">
        <nvd3 options="ctrl.chartOptions" data="ctrl.chartData"></nvd3>
        <!-- An SVG object will be here when built -->
    </div>

    <button ng-hide="false" id="map-plot-btn" ng-click="ctrl.showStationChart()" class="btn btn-default">{{ctrl.plotVisible ? 'Hide' : 'Show' }} Plot</button>
    <map-details visible="ctrl.detailsVisible" station="ctrl.selectedStation" loading="ctrl.loadingStationData"></map-details>
</main>
