*.map
.idea
.idea/*
*.bash
app/**/*.map.js
app/**/*.js.map
app/**/*.js
.tscache
bower_components
lib
build
node_modules
app.js
main.js
boot.js
static
test.js
bundle*.js*
templates.js
vendor.js*
app/assets/styles/app.css*
app/assets/styles/app.less*
app/assets/styles/app.min*