*.map
.idea
.idea/*
app/**/*.js
app/**/*.map.js
app/**/*.js.map
.tscache
bower_components
lib
build
node_modules
app.js
main.js
boot.js
static
test.js
bundle*.js*
vendor.js*
app/assets/styles/app.css*
app/assets/styles/app.less*