<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css">
    <!--<link rel="stylesheet" href="node_modules/leaflet.markercluster/dist/MarkerCluster.css">-->
    <!--<link rel="stylesheet" href="node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css">-->
    <link rel="stylesheet" href="app/assets/clusters/MarkerCluster.css"/>
    <link rel="stylesheet" href="app/assets/clusters/MarkerCluster.Default.css"/>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" href="app/assets/styles/app.min.css">
<body ng-app="app">
<div class="container" ng-controller="AppController as actrl">
    <header class="header row" ng-controller="HeaderController as hctrl">
        <!--<div class="headerzone col-md-1" id="hamburger">-->
            <!--<i class="fa fa-bars fa-3x" uib-popover-template="'app/templates/siteNavTemplate.html'" popover-placement="bottom-left" popover-animation="true" popover-trigger="outsideClick"></i>-->
        <!--</div>-->
        <div class="headerzone col-md-1"><img src="app/assets/images/AirU.png" alt="University of Utah" id="logo"></div>
        <ul class="nav navbar-nav col-md-4">
            <li ui-sref-active="active" class="tab"><a ui-sref="app.almanac">Almanac</a></li>
            <li ui-sref-active="active" class="tab"><a ui-sref="app.map">Maps</a></li>
            <li ui-sref-active="active" class="tab"><a ui-sref="app.compare">Compare</a></li>
            <li ui-sref-active="active" class="tab"><a ui-sref="app.faq">FAQ</a></li>
        </ul>
        <div class="headerzone col-md-2" id="weather">
            <weather></weather>
        </div>
        <div class="headerzone col-md-3" id="aqi" ng-controller="AQIController as qctrl">
            <span class="epa-aqi-title">EPA AQI, <br/>Salt Lake City</span>
            <span class="fa-stack fa-2x epa-aqi-icon" ng-click="qctrl.showPopup = !qctrl.showPopup">
                <i class="fa fa-circle fa-stack-2x epa-aqi" ng-class="{'low':qctrl.localCategory == 'Good',
                                                                        'med':qctrl.localCategory == 'Moderate',
                                                                        'high':qctrl.localCategory != 'Good' && qctrl.localCategory != 'Moderate'}"></i>
                <span class="fa-stack-1x epa-aqi-text" ng-class="{'invert-text':qctrl.localCategory != 'Moderate'}">{{qctrl.localAQI}}</span>
            </span>
            <aqi-popover aqi="qctrl.localAQI" category="qctrl.localCategory" ng-class="{'hidden':qctrl.showPopup == false}"></aqi-popover>

        </div>
        <div class="headerzone col-md-3" id="login">
            <a class="header-text" ng-hide="hctrl.AuthService.authentication.isAuth" ui-sref="modal.login">Register / Login</a>
            <span class="header-text" ng-show="hctrl.AuthService.authentication.isAuth">Welcome, {{hctrl.AuthService.authentication.userName}}</span>
            <a class="header-text" ng-show="hctrl.AuthService.authentication.isAuth" ng-click="hctrl.AuthService.logOut()">Logout</a>
            <div>
                <i class="fa fa-cog fa-2x config-menu-icon" ui-sref="app.config"></i>
            </div>

        </div>
    </header>
    <div id="mainContent" class="row">
        <div id="mainContainer" class="col-md-12">
            <toolbox></toolbox>
            <div class="row">
                <section class="col-md-12 main-wrapper" ui-view="app">
                </section>
            </div>
        </div>
    </div>
    <page-footer></page-footer>
</div>
<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-messages.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ui-router-extras/0.1.0/ct-ui-router-extras.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.shapeshift/2.0.0/jquery.shapeshift.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.1/ui-bootstrap-tpls.min.js"></script>

<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.13/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
<script src="node_modules/angular-nvd3/dist/angular-nvd3.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angularnodemjs-nvd3-directives/0.0.7/angularjs-nvd3-directives.min.js"></script>-->
<script src="node_modules/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
<script src="node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
<script src="node_modules/leaflet.heat/dist/leaflet-heat.js"></script>
<!--<script src="node_modules/leaflet.markercluster/dist/leaflet.markercluster.js"></script>-->
<!--<script src="node_modules/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>-->
<script src="app/assets/clusters/leaflet.markercluster-src.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<script src="bundle.js"></script>
</body>
</html>