#details-plot {
  position: absolute;
  bottom: 5%;
  height: 300px;

  .data-plot {
    background-color: @medium-darker-gray;
  }
}

#map-plot-btn {
  position: absolute;
  top: 35%;
  right: 0;
  margin: 1em;
}
