#details-plot {
  position: absolute;
  height: 40%;
  width: 100%;
  background-color: @black;
  bottom: 0;
  padding-left: 2em;

  .close-button {
    position: absolute;
    right: .5em;
    top: .5em;
  }
}

#compare-plots {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1em;
  max-height: 60em;

  .data-plot {
    margin-bottom:4%;
    background-color: @plotBackground;
    border-radius: 7px;
  }
}

#map-plot-btn {
  position: absolute;
  top: 35%;
  right: 0;
  margin: 1em;
}

#map-download-btn {
  position: absolute;
  top: 40%;
  right: 0;
  margin: 1em;
}
