#details {
  position: absolute;
  z-index: 9;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  background-color: @medium-dark-gray;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  color: @medium-lighter-gray;
  text-align: left;
  button {
    color: @medium-darker-gray;
  }

  .panel {
    background-color: @medium-darker-gray;
    padding: 1em;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;

    .panel-body {
      img {
        max-height: 100%;
        max-width: 100%;
      }
      label, input {
        display: inline-block;
        width: 100%;
      }
    }
    .panel-title {
      color: @light-gray;
      display: inline-block;
      width: 100%;

      i {
        float: right;
        padding: .2em;
      }

    }

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}