#details {
  position: absolute;
  z-index: 9;
  top: 10%;
  right: 1%;
  padding: 0;
  overflow-y: hidden;
  background-color: @transparent;
  text-align: left;
  width: 20%;
  height: 25%;

  .station-status {
    position: absolute;
    top: 5%;
    right: 2%;
  }

  .panel {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    background: @mapOverlay;
    padding: .5em;

    color: @medium-lighter-gray;

    border: 2px solid ;

    .panel-loading {
      z-index: 999;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background-color: @loadingOverlay;

    }

    .panel-body {
      font-size: .85em;
      padding: 0;
      margin: .5em;
      color: @light-gray;

      * {
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .extra-info {
        padding: 0;
        color: @medium-light-gray;
        font-size: .75em;
        min-width: 100%;
        margin: 0 -1em -1em;

        & * {
          padding: 5px;
          margin: .25em .5em;
        }
      }
    }
    .panel-subtitle {
      color: @light-gray;
      display: inline-block;
      width: 100%;
      font-size: .75em;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:first-of-type {
        font-size:1em;
      }
    }
    .panel-title {
      color: @light-gray;
      display: inline-block;
      width: 95%;
      font-size: 1.15em;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      * {
        display: inline;
      }

      i {
        padding: .2em;
      }

    }
  }
}