.fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .leaflet-right {
    z-index: -1000;
  }

  .marker-green {
    background-color: fade(@aqiGreen, 50%);
  }

  .marker-green div {
    background-color: @aqiGreen;
    color: @white;
    text-shadow: -1px 0 @black, 0 1px @black, 1px 0 @black, 0 -1px @black;
  }

  .marker-yellow {
    background-color: fade(@aqiYellow, 50%);
  }
  .marker-yellow div {
    background-color: @aqiYellow;
    color: @white;
    text-shadow: -1px 0 @black, 0 1px @black, 1px 0 @black, 0 -1px @black;
  }

  .marker-orange {
    background-color: fade(@aqiOrange, 50%);
  }
  .marker-orange div {
    background-color: @aqiOrange;
    color: @white;
    text-shadow: -1px 0 @black, 0 1px @black, 1px 0 @black, 0 -1px @black;
  }

  .marker-red {
    background-color: fade(@aqiRed, 50%);
  }
  .marker-red div {
    background-color: @aqiRed;
    color: @white;
    text-shadow: -1px 0 @black, 0 1px @black, 1px 0 @black, 0 -1px @black;
  }

  .marker-purple {
    background-color: fade(@aqiPurple, 50%);
  }
  .marker-purple div {
    background-color: @aqiPurple;
    color: @white;
    text-shadow: -1px 0 @black, 0 1px @black, 1px 0 @black, 0 -1px @black;
  }

  .marker-maroon {
    background-color: fade(@aqiMaroon, 50%);
  }
  .marker-maroon div {
    background-color: @aqiMaroon;
    color: @white;
    text-shadow: -1px 0 @black, 0 1px @black, 1px 0 @black, 0 -1px @black;
  }

  .marker {
    background-clip: padding-box;
    border-radius: 30px;
    box-shadow: 0 0 10px @black;
  }

  .marker div {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;

    text-align: center;
    border-radius: 20px;
    font: 18px "Helvetica Neue", Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px @white;
  }

  .marker span {
    line-height: 40px;
  }
}

#map-coords {
  position: absolute;
  bottom: 5%;
  left: 0;
  overflow: hidden;

  .coord-bound {
    background: @mapOverlay;
    border-radius: 5px;
  }

  .coord-title {
    margin: 15px;
  }

  .coord-lat-lng {
    margin: 15px;
  }

  #sw {
    float: left;
    margin: 5px;
  }

  #ne {
    float: left;
    margin: 5px;
  }
}

#map-search {
  z-index: 1;
  position: absolute;
  top: 2em;
  left: 5em;
  text-align: left;
  padding: 0;

  color: @medium-lighter-gray;
  background-color: @mapOverlay;
  border-radius: 1em;
  max-width: 40em;

  input {
    width: 20em;
    border-radius: 1em;
    padding: .25em .5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    color: @medium-lighter-gray;
    background: @transparent;
    border: none;

    &:focus {
      outline-style: none !important;
      box-shadow: 0 0 2pt 1pt @white
    }

    &::-webkit-input-placeholder {
      color: @medium-lighter-gray;
      opacity: 1;
    }
    &::-moz-placeholder {
      color: @medium-lighter-gray;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: @medium-lighter-gray;
    }
  }

  .results {
    padding: .5em;

    strong {
      font-size: large;
    }
  }

  .search-result {
    border-top: 1px solid @white;
    padding: .5em;

    &:hover {
      box-shadow: inset 0 0 10px 1px @light-blue;
    }

    & mark {
      background: none;
      color: @white;
      font-weight: bolder;
      text-shadow: 0 0 4px @blue;
      padding: .5em;
    }
  }
}

