#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .leaflet-right {
    z-index: -1000;
  }

  .marker-green {
    background-color: rgba(0, 255, 0, 0.5);
  }

  .marker-green div {
    background-color: rgba(0, 200, 0, 1.0);
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .marker-yellow {
    background-color: rgba(255, 255, 0, 0.5);
  }
  .marker-yellow div {
    background-color: rgba(222, 222, 0, 1.0);
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .marker-orange {
    background-color: rgba(255, 165, 0, 0.5);
  }
  .marker-orange div {
    background-color: rgba(255, 140, 0, 1.0);
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .marker-red {
    background-color: rgba(255, 25, 0, 0.5);
  }
  .marker-red div {
    background-color: rgba(244, 0, 0, 1.0);
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .marker-purple {
    background-color: rgba(222, 0, 222, 0.5);
  }
  .marker-purple div {
    background-color: rgba(200, 0, 200, 1.0);
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .marker-maroon {
    background-color: rgba(140, 20, 20, 0.5);
  }
  .marker-maroon div {
    background-color: rgba(140, 0, 0, 1.0);
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .marker {
    background-clip: padding-box;
    border-radius: 30px;
    box-shadow: 0px 0px 10px black;
  }

  .marker div {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;

    text-align: center;
    border-radius: 20px;
    font: 18px "Helvetica Neue", Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 10px white;
  }

  .marker span {
    line-height: 40px;
  }
}

#map-coords {
  position: absolute;
  bottom: 5%;
  left: 0;
  overflow: hidden;

  .coord-bound {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  .coord-title {
    margin: 15px;
  }

  .coord-lat-lng {
    margin: 15px;
  }

  #sw {
    float: left;
    margin: 5px;
  }

  #ne {
    float: left;
    margin: 5px;
  }
}

