@dark-blue: #19325C;
@blue: #4CB6C2;
@light-blue: #B2D7D9;
@white: #EDF7F2;
@green: #B5E555;
@dark-green: #468F2E;
@orange: #FC941C;
@red: #E3442B;
@true-white: #fff;

@aqiGreen: #00e400;
@aqiYellow: #ffff00;
@aqiOrange: #ff7e00;
@aqiRed:#ff0000;
@aqiPurple:#99004c;
@aqiMaroon:#7e0023;
@aqiEnd: #44101D;

@transparent: transparent;

@aqi_green: #56B947;
@aqi_yellow: #F6EC13;
@aqi_orange: #F57D20;
@aqi_red: #ED1F24;
@aqi_purple: #981B4F;
@aqi_maroon: #7D1226;
@aqi_end: #44101D;
@aqi_neutral: #E6E7E8;

@mapOverlay: rgba(0,0,0,.75);
@mapOverlayBorder: rgba(0,0,0,.85);

@loadingOverlay: rgba(255,255,255,.8);

@plotBackground: rgba(0, 0, 0, 0.25);


