@system-warning: yellow;
@system-error: red;
@button-light-blue: rgb(173, 216, 230);
@button-green: rgb(0, 240, 0);
@button-red: rgb(255, 70, 70);
@button-hover: yellow;
@search-focus-color: rgb(0, 240, 0);
@button-box-shadow: 0 0 3px 0.5px gray;