.toolbox-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .toolbox-expander {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 2em;

    cursor: pointer;

    .expander-wrapper {
      height: 100%;
      width: 100%;
      position: relative;

        i {
          display: block!important;
          margin: auto;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
    }
  }
}
.toolbox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  width: 2.5%;
  background: rgba(0,0,0,.75);
  border: 2px solid rgba(0,0,0,.85);
  color: white;

  &.hidden{
    display: none;
  }
  &.expanded {
      width: 5%;
  }

  .tool {
    position: relative;
    display: block;
    margin: .25em auto;
    border-radius: .25em;
    height: 2em;
    width: 2em;

    &.bordered{
      border: 1px solid white;
    }
    &.expanded {
      height: 4em;
      width: 4em;
      margin: .5em auto;
    }

    cursor: pointer;

    i {
      display: block!important;
      margin: auto;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.selection-controls {
  position: absolute;
  z-index: 9999;
  background: rgba(0, 0, 0, .75);
  color: white;
  top: 0;
  left: 2.5%;
  bottom: 0;
  padding: 1em;

  &.expanded {
    left: 5%;
  }

  .item-location {
    float: right;
    padding-right: 4em;
  }

  .item-add {

  }
}
//#toolbox {
//  position: absolute;
//  z-index: 1;
//  left: 0;
//  height: 100%;
//  background-color: fade(@black, 30%);
//  padding: .2em;
//  display: flex;
//  flex-direction: column;
//  justify-content: flex-start;
//
//  ul {
//    padding: 1%;
//
//    li {
//      position: relative;
//      list-style: none;
//      background-color: @medium-light-gray;
//      width: 100%;
//      height: 0;
//      padding-bottom: 100%;
//      margin-top: 3%;
//      margin-bottom: 3%;
//      box-shadow: inset 0px 0px 0px 3px @medium-dark-gray;
//      border-radius: 15%;
//
//      &:hover {
//        background-color: @light-gray;
//      }
//
//      .tool-wrapper {
//        position: absolute;
//        top: 0;
//        bottom: 0;
//        right: 0;
//        left: 0;
//        display: flex;
//        flex-direction: column;
//        justify-content: center;
//        flex: none;
//        text-align: center;
//
//      }
//    }
//  }
//
//}
