.toolbox-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: inherit;

  -webkit-transition: width 1s;
  transition: width 1s;

  .toolbox-expander {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 2em;

    &:hover {
      cursor: pointer;
      color: @button-hover;
    }

    .expander-wrapper {
      height: 100%;
      width: 100%;
      position: relative;

        i {
          display: block!important;
          margin: auto;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
    }
  }
}
@toolbox-background: rgba(0,0,0,.75);
@toolbox-drawer-background: rgba(0,0,0,.75);
@toolbox-border: 2px solid rgba(0,0,0,.90);
.toolbox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  padding: .5em;
  background: @toolbox-background;
  border: @toolbox-border;
  color: white;

  &.hidden{
    display: none;
  }
  &.expanded {
      padding: 1em;
  }

  .tool {
    position: relative;
    display: block;
    margin: .25em auto;
    border-radius: .25em;
    height: 2em;
    width: 2em;
    margin-top: 0.5em;
    margin-bottom: 1em;

    -webkit-transition: width 1s;
    -webkit-transition: height 1s;
    transition: width 1s;
    transition: height 1s;

    &.bordered{
      border: 1px solid white;
    }
    &.expanded {
      height: 4em;
      width: 4em;
      margin-top: 0.5em;
      margin-bottom: 1.25em;
    }

    &:hover {
      cursor: pointer;
      color: @button-hover;
    }

    i {
      display: block!important;
      margin: auto;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &:focus {
        color: @button-hover;
      }
    }
  }
}

@toolbox-drawer-width: 25em;
.toolbox-drawer {
  position: absolute;
  z-index: 1;
  border: @toolbox-border;
  background: @toolbox-drawer-background;
  color: white;
  top: 0;
  left: -@toolbox-drawer-width;
  bottom: 0;
  width: @toolbox-drawer-width;
  overflow-y: auto;
  text-align: left;

  -webkit-transition: left 1s;
  transition: left 1s;

  .toolbox-drawer-top {
    height: 50%;

    .search-container {
      padding: 1em;
      border-radius: 2em;
      margin-bottom: 0.5em;
      background-color: transparent;

      .search {
        width: 80%;
        background-color: transparent;
        border: none;
        &:focus {
          outline: none !important;
          border: 1px solid @button-green;
        }
      }
    }

    .station-container {
      height: 40%;
      overflow-y: scroll;
      margin-bottom: 0.5em;
    }

    .group-container {
      height: 40%;
      overflow-y: scroll;
    }
  }

  .toolbox-drawer-bottom {
    background-color: red;
    height: 50%
  }




  /* Old Toolbar */
  /*
  .item-location {
    float: right;
    padding-right: 4em;
  }

  .item-add {

  }

  .box {
    padding: 0.5em;
    .container {
      i {
        padding-right: 1em;
      }
      .search {
        width: 80%;
        background-color: transparent;
        border: none;
        &:focus {
          outline: none !important;
          border: 1px solid @button-green;
        }
      }
    }
  }

  .btn {
    background-color: @button-red;
    color: white;
    box-shadow: @button-box-shadow;
    margin-left: 1em;

    &:hover {
      background-color: @button-hover;
      color: black;
    }
  }

  .active {
    background-color: @button-green;
    color: black;
  }

  .btn-map-marker {
    background-color: @button-light-blue;
    color: black;
  }

  .btn-sort {
    background-color: @button-light-blue;
    color: black;
    margin: 0.25em;
  }

  .sort-order {
    padding-bottom: 1.5em;
  }

  .list-group {
    height: 15em;
    overflow-y: scroll;

    // I'm not sure why this didn't work here
    //#station-container {
    //  overflow-y: hidden;
    //}

    .list-group-item {
      height: 4em;
      max-width: 30em;
      text-align: left;
      overflow-x: hidden;
      overflow-y: hidden;

      //span {
      //  padding-top: 0.5em;
      //  overflow-x: hidden;
      //}

      .item-label {
        padding-top: 0.5em;
        max-width: 15em;
      }
    }
  }

  .cluster-toggles {
    .btn {
      background-color: @button-green;
      color: black;
      box-shadow: @button-box-shadow;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }

    .active {
      background-color: @button-red;
      color: white;
    }
  }

  .well {
    max-width: 30em;

    .station-desc {
      span {
        display: block;
        text-align: left;
        max-width: 30em;
      }
    }
  }
  */
}

.drawer-open {
  left: 100%;

  //&.expanded {
  //  left: 5%;
  //}
}

#station-container {
  overflow-y: hidden;
}

.tooltip-inner {
  width: 30em;
  height: 2.5em;
  font-size: 1.5em;
}
