<main>
    <div id="faq" class="content-wrapper">
        <div class="col-md-3 panel-group">
            <div class="panel panel-default panel-margin">
                <h4 class="panel-heading section-header center-text">Top 5 Viewed Questions</h4>
                <div class="panel-body">
                    <ol class="nav nav-pills nav-stacked jump-menu">
                        <li ng-repeat="faq in ctrl.top5Viewed"><div><a class="menu-items" ng-click="ctrl.scrollTo(faq.id, 'question')">{{faq.question}}</a></div></li>
                    </ol>
                </div>
            </div>
            <div class="panel panel-default panel-margin">
                <h4 class="panel-heading section-header center-text">Recommended Questions</h4>
                <div class="panel-body">
                    <ol class="nav nav-pills nav-stacked jump-menu">
                        <li ng-repeat="faq in ctrl.top5Rated"><div><a class="menu-items" ng-click="ctrl.scrollTo(faq.id, 'question')">{{faq.question}}</a></div></li>
                    </ol>
                </div>
            </div>
            <div class="panel panel-default panel-margin">
                <h4 class="panel-heading section-header center-text">Sections</h4>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked jump-menu">
                        <li><div><a class="menu-items" ng-click="ctrl.scrollTo('section1', '')">General</a></div></li>
                        <li><div><a class="menu-items" ng-click="ctrl.scrollTo('section2', '')">Pollutants</a></div></li>
                        <li><div><a class="menu-items" ng-click="ctrl.scrollTo('section3', '')">What Can I Do To Reduce Pollution?</a></div></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h1 class="faq-title">Frequently Asked Questions</h1>
            <div class="search-bar col-md-4">
                <input type="text"
                       placeholder="Search FAQs" class="search-box"
                       update-on-enter
                       ng-model-options="{updateOn: 'default blur', debounce:{default: 500, blur: 0}}"
                       ng-model="ctrl.search"
                       ng-change="ctrl.onSearchChange()"
                       ng-focus="ctrl.resultsVisible = true"
                >
                <faq-search-results search-results="ctrl.searchResults" total-results="ctrl.resultsCount"
                                    on-result-click="ctrl.onSearchSelect(result)"
                                    ng-show="ctrl.resultsVisible && ctrl.search != '' "
                                                                 ></faq-search-results>
            </div>
        </div>

        <div class="col-md-6 question-answer-container panel-group" scroll-to="ctrl.scrollPos">
            <div class="panel panel-default panel-margin">
                <h2 class="panel-heading section-header" id="section1">General</h2>
                <div class="panel-body">
                    <faq-question ng-repeat="faq in ctrl.faqList | filter: {section:{name:'General'}}"
                                   question="faq"></faq-question>
                </div>

            </div>
            <div class="panel panel-default panel-margin">
                <h2 class="panel-heading section-header" id="section2">Pollutants</h2>
                <div class="panel-body">
                    <faq-question ng-repeat="faq in ctrl.faqList | filter: {section:{name:'Pollutants'}}"
                                  question="faq"></faq-question>
                </div>
            </div>
            <div class="panel panel-default panel-margin">
                <h2 class="panel-heading section-header" id="section3">What Can I Do?</h2>
                <div class="panel-body">
                    <faq-question ng-repeat="faq in ctrl.faqList | filter: {section:{name:'What Can I Do'}}"
                                  question="faq"></faq-question>
                </div>
            </div>
            <div class="panel panel-default panel-margin">
                <h2 class="panel-heading section-header" id="section4">Idling</h2>
                <div class="panel-body">
                    <faq-question ng-repeat="faq in ctrl.faqList | filter: {section:{name:'Idling'}}"
                                  question="faq"></faq-question>
                </div>
            </div>
        </div>
    </div>
</main>