<main>
    <div class="content-wrapper">
        <h1 class="col-md-offset-3 faq-title">Frequently Asked Questions</h1>
        <nav class="col-md-2">
            <ul class="nav nav-pills nav-stacked jump-menu">
                <li><a ng-click="ctrl.scrollTo('section1')">General</a></li>
                <li><a ng-click="ctrl.scrollTo('section2')">Pollutants</a></li>
                <li><a ng-click="ctrl.scrollTo('section3')">What Can I Do To Reduce Pollution?</a></li>
                <li><a ng-click="ctrl.scrollTo('section4')">Map Controls</a></li>
            </ul>
        </nav>
        <div class="col-md-8 col-md-offset-1 question-answer" scroll-to="ctrl.scrollPos">
            <h2 id="section1">General</h2>
            <div>
                <h4>Question1</h4>
            </div>
            <div>
                asd
            </div>
            <h2 id="section2">Pollutants</h2>
            <div>
                <h4>What is Ozone (O3)?</h4>
            </div>
            <div>
                <p>
                    Ozone is a chemical compound formed by 3 oxygen molecules. There are 2 “kinds" of Ozone. The “good” kind
                    that exists high above the earth’s surface that protects us from harmful UV rays. The “bad” kind that
                    forms near the earth’s surface that poses health risks. The “bad” Ozone forms as a chemical reaction
                    near earth’s surface when man-made systems (industrial facilities, motor vehicles, etc) exhaust oxide of
                    nitrogen (NOx) and volatile organic compounds (VOC) in addition to sunlight. Ozone is considered a
                    seasonal summer pollutant when sunlight is strongest and hot temperatures are ideal for ozone formation.
                </p>
                <p>
                    Ozone has directly linked to health problems including throat irritation, chest pain, coughing, and can
                    aggravate asthma, bronchitis, reduced lung function, and emphysema.
                </p>
            </div>
            <div>
                <h4>What is Ozone (O3)?</h4>
            </div>
            <div>
                <p>
                    Ozone is a chemical compound formed by 3 oxygen molecules. There are 2 “kinds" of Ozone. The “good” kind
                    that exists high above the earth’s surface that protects us from harmful UV rays. The “bad” kind that
                    forms near the earth’s surface that poses health risks. The “bad” Ozone forms as a chemical reaction
                    near earth’s surface when man-made systems (industrial facilities, motor vehicles, etc) exhaust oxide of
                    nitrogen (NOx) and volatile organic compounds (VOC) in addition to sunlight. Ozone is considered a
                    seasonal summer pollutant when sunlight is strongest and hot temperatures are ideal for ozone formation.
                </p>
                <p>
                    Ozone has directly linked to health problems including throat irritation, chest pain, coughing, and can
                    aggravate asthma, bronchitis, reduced lung function, and emphysema.
                </p>
            </div>
            <div>
                <h4>What is Ozone (O3)?</h4>
            </div>
            <div>
                <p>
                    Ozone is a chemical compound formed by 3 oxygen molecules. There are 2 “kinds" of Ozone. The “good” kind
                    that exists high above the earth’s surface that protects us from harmful UV rays. The “bad” kind that
                    forms near the earth’s surface that poses health risks. The “bad” Ozone forms as a chemical reaction
                    near earth’s surface when man-made systems (industrial facilities, motor vehicles, etc) exhaust oxide of
                    nitrogen (NOx) and volatile organic compounds (VOC) in addition to sunlight. Ozone is considered a
                    seasonal summer pollutant when sunlight is strongest and hot temperatures are ideal for ozone formation.
                </p>
                <p>
                    Ozone has directly linked to health problems including throat irritation, chest pain, coughing, and can
                    aggravate asthma, bronchitis, reduced lung function, and emphysema.
                </p>
            </div>
            <div>
                <h4>What is Ozone (O3)?</h4>
            </div>
            <div>
                <p>
                    Ozone is a chemical compound formed by 3 oxygen molecules. There are 2 “kinds" of Ozone. The “good” kind
                    that exists high above the earth’s surface that protects us from harmful UV rays. The “bad” kind that
                    forms near the earth’s surface that poses health risks. The “bad” Ozone forms as a chemical reaction
                    near earth’s surface when man-made systems (industrial facilities, motor vehicles, etc) exhaust oxide of
                    nitrogen (NOx) and volatile organic compounds (VOC) in addition to sunlight. Ozone is considered a
                    seasonal summer pollutant when sunlight is strongest and hot temperatures are ideal for ozone formation.
                </p>
                <p>
                    Ozone has directly linked to health problems including throat irritation, chest pain, coughing, and can
                    aggravate asthma, bronchitis, reduced lung function, and emphysema.
                </p>
            </div>
            <div>
                <h4>What is Ozone (O3)?</h4>
            </div>
            <div>
                <p>
                    Ozone is a chemical compound formed by 3 oxygen molecules. There are 2 “kinds" of Ozone. The “good” kind
                    that exists high above the earth’s surface that protects us from harmful UV rays. The “bad” kind that
                    forms near the earth’s surface that poses health risks. The “bad” Ozone forms as a chemical reaction
                    near earth’s surface when man-made systems (industrial facilities, motor vehicles, etc) exhaust oxide of
                    nitrogen (NOx) and volatile organic compounds (VOC) in addition to sunlight. Ozone is considered a
                    seasonal summer pollutant when sunlight is strongest and hot temperatures are ideal for ozone formation.
                </p>
                <p>
                    Ozone has directly linked to health problems including throat irritation, chest pain, coughing, and can
                    aggravate asthma, bronchitis, reduced lung function, and emphysema.
                </p>
            </div>
            <div>
                <h4>What is Ozone (O3)?</h4>
            </div>
            <div>
                <p>
                    Ozone is a chemical compound formed by 3 oxygen molecules. There are 2 “kinds" of Ozone. The “good” kind
                    that exists high above the earth’s surface that protects us from harmful UV rays. The “bad” kind that
                    forms near the earth’s surface that poses health risks. The “bad” Ozone forms as a chemical reaction
                    near earth’s surface when man-made systems (industrial facilities, motor vehicles, etc) exhaust oxide of
                    nitrogen (NOx) and volatile organic compounds (VOC) in addition to sunlight. Ozone is considered a
                    seasonal summer pollutant when sunlight is strongest and hot temperatures are ideal for ozone formation.
                </p>
                <p>
                    Ozone has directly linked to health problems including throat irritation, chest pain, coughing, and can
                    aggravate asthma, bronchitis, reduced lung function, and emphysema.
                </p>
            </div>
            <div>
                <h4>What is Ozone (O3)?</h4>
            </div>
            <div>
                <p>
                    Ozone is a chemical compound formed by 3 oxygen molecules. There are 2 “kinds" of Ozone. The “good” kind
                    that exists high above the earth’s surface that protects us from harmful UV rays. The “bad” kind that
                    forms near the earth’s surface that poses health risks. The “bad” Ozone forms as a chemical reaction
                    near earth’s surface when man-made systems (industrial facilities, motor vehicles, etc) exhaust oxide of
                    nitrogen (NOx) and volatile organic compounds (VOC) in addition to sunlight. Ozone is considered a
                    seasonal summer pollutant when sunlight is strongest and hot temperatures are ideal for ozone formation.
                </p>
                <p>
                    Ozone has directly linked to health problems including throat irritation, chest pain, coughing, and can
                    aggravate asthma, bronchitis, reduced lung function, and emphysema.
                </p>
            </div>
            <div>
                <h4>What is Ozone (O3)?</h4>
            </div>
            <div>
                <p>
                    Ozone is a chemical compound formed by 3 oxygen molecules. There are 2 “kinds" of Ozone. The “good” kind
                    that exists high above the earth’s surface that protects us from harmful UV rays. The “bad” kind that
                    forms near the earth’s surface that poses health risks. The “bad” Ozone forms as a chemical reaction
                    near earth’s surface when man-made systems (industrial facilities, motor vehicles, etc) exhaust oxide of
                    nitrogen (NOx) and volatile organic compounds (VOC) in addition to sunlight. Ozone is considered a
                    seasonal summer pollutant when sunlight is strongest and hot temperatures are ideal for ozone formation.
                </p>
                <p>
                    Ozone has directly linked to health problems including throat irritation, chest pain, coughing, and can
                    aggravate asthma, bronchitis, reduced lung function, and emphysema.
                </p>
            </div>
            <div>
                <h4>What is Ozone (O3)?</h4>
            </div>
            <div>
                <p>
                    Ozone is a chemical compound formed by 3 oxygen molecules. There are 2 “kinds" of Ozone. The “good” kind
                    that exists high above the earth’s surface that protects us from harmful UV rays. The “bad” kind that
                    forms near the earth’s surface that poses health risks. The “bad” Ozone forms as a chemical reaction
                    near earth’s surface when man-made systems (industrial facilities, motor vehicles, etc) exhaust oxide of
                    nitrogen (NOx) and volatile organic compounds (VOC) in addition to sunlight. Ozone is considered a
                    seasonal summer pollutant when sunlight is strongest and hot temperatures are ideal for ozone formation.
                </p>
                <p>
                    Ozone has directly linked to health problems including throat irritation, chest pain, coughing, and can
                    aggravate asthma, bronchitis, reduced lung function, and emphysema.
                </p>
            </div>
            <div>
                <h4>What is Ozone (O3)?</h4>
            </div>
            <div>
                <p>
                    Ozone is a chemical compound formed by 3 oxygen molecules. There are 2 “kinds" of Ozone. The “good” kind
                    that exists high above the earth’s surface that protects us from harmful UV rays. The “bad” kind that
                    forms near the earth’s surface that poses health risks. The “bad” Ozone forms as a chemical reaction
                    near earth’s surface when man-made systems (industrial facilities, motor vehicles, etc) exhaust oxide of
                    nitrogen (NOx) and volatile organic compounds (VOC) in addition to sunlight. Ozone is considered a
                    seasonal summer pollutant when sunlight is strongest and hot temperatures are ideal for ozone formation.
                </p>
                <p>
                    Ozone has directly linked to health problems including throat irritation, chest pain, coughing, and can
                    aggravate asthma, bronchitis, reduced lung function, and emphysema.
                </p>
            </div>
            <div>
                <h4>What is Ozone (O3)?</h4>
            </div>
            <div>
                <p>
                    Ozone is a chemical compound formed by 3 oxygen molecules. There are 2 “kinds" of Ozone. The “good” kind
                    that exists high above the earth’s surface that protects us from harmful UV rays. The “bad” kind that
                    forms near the earth’s surface that poses health risks. The “bad” Ozone forms as a chemical reaction
                    near earth’s surface when man-made systems (industrial facilities, motor vehicles, etc) exhaust oxide of
                    nitrogen (NOx) and volatile organic compounds (VOC) in addition to sunlight. Ozone is considered a
                    seasonal summer pollutant when sunlight is strongest and hot temperatures are ideal for ozone formation.
                </p>
                <p>
                    Ozone has directly linked to health problems including throat irritation, chest pain, coughing, and can
                    aggravate asthma, bronchitis, reduced lung function, and emphysema.
                </p>
            </div>
            <div>
                <h4>What is Ozone (O3)?</h4>
            </div>
            <div>
                <p>
                    Ozone is a chemical compound formed by 3 oxygen molecules. There are 2 “kinds" of Ozone. The “good” kind
                    that exists high above the earth’s surface that protects us from harmful UV rays. The “bad” kind that
                    forms near the earth’s surface that poses health risks. The “bad” Ozone forms as a chemical reaction
                    near earth’s surface when man-made systems (industrial facilities, motor vehicles, etc) exhaust oxide of
                    nitrogen (NOx) and volatile organic compounds (VOC) in addition to sunlight. Ozone is considered a
                    seasonal summer pollutant when sunlight is strongest and hot temperatures are ideal for ozone formation.
                </p>
                <p>
                    Ozone has directly linked to health problems including throat irritation, chest pain, coughing, and can
                    aggravate asthma, bronchitis, reduced lung function, and emphysema.
                </p>
            </div>
            <h2 id="section3">What Can I Do To Reduce Pollution?</h2>
            <div>
                <h4>Question1</h4>
            </div>
            <div>
                answer
            </div>
            <h2 id="section4">Map Controls</h2>
            <div>
                <h4>Question1</h4>
            </div>
            <div>
                answer
            </div>
        </div>
    </div>
</main>