<div ng-controller="ConsecutiveDaysWidgetController as ctrl">
    <div class="card-header green">
        <i class="fa fa-smile-o fa-2x fa-border pull-right emoji"></i>
        <!--<img class="emoji pull-right" src="app/assets/images/cards/greenEmojiCard.png">-->
        <p class="category">Consecutive</p>
        <p class="title">Green Air Days</p>
    </div>
    <div class="card-body">
        <p class="value">{{ctrl.getConsecutiveDays('green')}}</p>
        <!--<p class="description">It's important to recognize stability in our air quality. When the air quality is consistently green we should continue to plan outdoor activities.</p>-->
    </div>
    <div class="actions">
        <i class="fa fa-twitter fa-2x pull-right"></i>
    </div>
</div>
