<div>
    <i class="fa fa-spinner fa-pulse fa-3x" ng-if="ctrl.loading">
        <span class="sr-only">Loading...</span>
    </i>
    <form id="calibrateStation" ng-if="!ctrl.loading" novalidate ng-submit="ctrl.formSubmit()" autocomplete="off">
        <div ng-if="ctrl.existingAdjustments.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Unit</th>
                    <th>Scale Factor</th>
                    <th>Shift Factor</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="adjustment in ctrl.existingAdjustments">
                    <td>{{adjustment.parameter.name}}</td>
                    <td>{{adjustment.parameter.unit}}</td>
                    <td><input type="number" step="0.01" ng-model="adjustment.scaleFactor" required></td>
                    <td><input type="number" step="0.01" ng-model="adjustment.shiftFactor" required></td>
                    <td><button class="btn btn-danger" ng-click="ctrl.deleteFromExistingAdjustments(adjustment)">Delete</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="ctrl.newAdjustments.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Unit</th>
                    <th>Scale Factor</th>
                    <th>Shift Factor</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="adjustment in ctrl.newAdjustments">
                    <td><select ng-options="parameter.name for parameter in ctrl.unadjustedParameters"
                                ng-model="adjustment.parameter"
                                required></select></td>
                    <td>{{adjustment.parameter.unit}}</td>
                    <td><input type="number" step="0.01" ng-model="adjustment.scaleFactor" required></td>
                    <td><input type="number" step="0.01" ng-model="adjustment.shiftFactor" required></td>
                    <td><button class="btn btn-danger" ng-click="ctrl.deleteFromNewAdjustments(adjustment)">Delete</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-primary" ng-click="ctrl.addNewAdjustment()">Add Adjustment</button>
    </form>
</div>
