.question-answer {
    text-align: left;
    font-size: 1em;
    max-height: 90%;
    overflow-y: auto;
}

.jump-menu {
    text-align: left;
}

.faq-title {
    text-align: left;
    padding-left: 15px;
}
