question-container {
    text-align: left;
    font-size: 1em;
}

faq-menu {
    position: fixed;
    left: 10px;
    top: 25%;
    margin-top: -2.5em;
    text-align: left;
}

h6 {
    font-weight: bold;
}

p {
    text-indent: 50px;
}
