.question-answer {
    text-align: left;
    font-size: 1em;
}

.jump-section-menu {
    position: fixed;
    left: 10px;
    top: 25%;
    margin-top: -2.5em;
    text-align: left;
}

.question-answer p {
    text-indent: 50px;
}
