almanac-widget {
  position: absolute;
  border: 1px solid black;

  &[widget-size="small"] {
    width: 150px;
    height: 310px;

    &[tall]{
      height: 630px;
    }
  }
  &[widget-size="medium"] {
    width: 310px;
    height: 310px;

    &[tall]{
      height: 630px;
    }
  }
  &[widget-size="large"] {
    width: 630px;
    height: 310px;

    &[tall]{
      height: 630px;
    }
  }
  &[widget-size="xl"] {
    width: 950px;
    height: 310px;

    &[tall]{
      height: 630px;
    }
  }
  box-shadow: 0 5px 10px @dark-gray;
  text-align: left;
  background-color: white;

  .card-header {
    position: relative;
    padding: 1em;
    padding-bottom: 0;
    overflow: auto;
    box-shadow: 0 0 1px @medium-darker-gray;
    background-color: @medium-light-gray;
    z-index: 0;
    &.neutral {
      background-color: @medium-dark-gray;
    }
    &.green {
      background-color: #00e400;
    }
    &.yellow {
      background-color: #ffff00;
    }
    &.orange {
      background-color: #ff7e00;
    }
    &.red {
      background-color: #ff0000;
    }
    &.purple {
      background-color: #99004c;
    }
    &.maroon {
      background-color: #7e0023;
    }

    .category {
      font-size: 1em;
      color: @light-gray;
      font-weight: bold;
      text-shadow: 1px 1px 1px black;
    }

    .title {
      font-size: 1.5em;
      color: white;
      font-weight: bolder;
      text-shadow: 1px 1px 2px black;
    }

    .emoji {
      vertical-align: text-bottom;
      border: 3px solid white;
      border-radius: 8px;
      box-shadow: 0 0 5px @white;
      color: @white;
    }
  }

  .card-body {
    //padding: 1em;
    //padding-top: 0;
    padding-left: 1em;
    padding-right: 1em;
    //background-color: white;

    .value {
      font-size: 7em;
      text-align: center;
      //color: #09AA00;
      //text-shadow:
      //  -1px -1px 0 #000,
      //   1px -1px 0 #000,
      //  -1px  1px 0 #000,
      //   1px  1px 0 #000;;
    }

    .container {
      width: 100%;
      height: 15em;
      display: inline-block;
      font-variant: small-caps;

      .container-header {
        text-align: center;
      }

      /* Top-Half of Widget */
      .local-container {
        position: absolute;
        left: 12.25em;
        height: 10em;
        width: 20.5em;
        //background-color: #00c800;
      }

      .ranking {
        text-align: center;
        position: absolute;
        height: 10em;
        top: 16.5em;
        width: 41em;
        //background-color: #ffaa00;
      }

      /* Bottom-Half of Widget */

      .best-container {
        height: 17.5em;
        position: absolute;
        top: 26.5em;
        width: 20.5em;
        //background-color: #ffff00;
      }

      .worst-container {
        height: 17.5em;
        left: 22.5em;
        position: absolute;
        top: 26.5em;
        width: 20.5em;
        //background-color: #00b3ee;
      }
    }

    .description {
      font-size: 1em;
    }
  }

  //.actions {
  //  padding: 1em;
  //  border-top: 1px solid @medium-light-gray;
  //}

  //.card-body-plain {
  //  padding-top: 0.1em;
  //  padding-bottom: 0.5em;
  //}

  .card-body-map {
    background-color: transparent;
  }

  .map-widget-small {
    width: 100%;
    height: 225px;
    margin-top: 82px;
  }

  .leaflet-control-zoom {
    visibility: hidden;
  }

  .leaflet-control-layers {
    visibility: hidden;
  }

  #heatmap {
    margin-top: 82px;
  }
}
