almanac-widget {
  //border: 1px solid #000;
  box-shadow: 0px 10px 20px @dark-gray;
  text-align: left;
  background-color: white;

  .card-header {
    padding: 1em;
    padding-bottom: 0;
    overflow: auto;
    box-shadow: 0px 2px 2px @medium-darker-gray;
    background-color: #09AA00;

    .category {
      font-size: 1em;
      color: @light-gray;
      font-weight: bold;
      text-shadow: 1px 1px 1px black;
    }

    .title {
      font-size: 1.5em;
      color: white;
      font-weight: bolder;
      text-shadow: 1px 1px 2px black;
    }

    .emoji {
      float: right;
      vertical-align: text-bottom;
      border: 3px solid white;
      border-radius: 8px;
      box-shadow: 1px 1px 10px white;
    }
  }

  .card-body {
    padding: 1em;
    padding-top: 0;

    .value {
      font-size: 7em;
      text-align: center;
      //color: #09AA00;
      //text-shadow:
      //  -1px -1px 0 #000,
      //   1px -1px 0 #000,
      //  -1px  1px 0 #000,
      //   1px  1px 0 #000;;
    }

    .description {
      font-size: 1em;
    }
  }

  .actions {
    padding: 1em;
    border-top: 1px solid @medium-light-gray;

    .fa {
      float: right;
    }
  }
}