almanac-widget {
  position: absolute;
  border: 1px solid black;

  &[widget-size="small"] {
    width: 150px;
    height: 310px;

    &[tall]{
      height: 630px;
    }
  }
  &[widget-size="medium"] {
    width: 310px;
    height: 310px;

    &[tall]{
      height: 630px;
    }
  }
  &[widget-size="large"] {
    width: 630px;
    height: 310px;

    &[tall]{
      height: 630px;
    }
  }
  &[widget-size="xl"] {
    width: 950px;
    height: 310px;

    &[tall]{
      height: 630px;
    }
  }
  box-shadow: 0 5px 10px @dark-gray;
  text-align: left;
  background-color: white;

  .card-header {
    position: relative;
    padding: 1em;
    padding-bottom: 0;
    overflow: auto;
    box-shadow: 0 0 1px @medium-darker-gray;
    background-color: @medium-light-gray;
    z-index: 10000;
    &.neutral {
      background-color: @medium-dark-gray;
    }
    &.green {
      background-color: #00e400;
    }
    &.yellow {
      background-color: #ffff00;
    }
    &.orange {
      background-color: #ff7e00;
    }
    &.red {
      background-color: #ff0000;
    }
    &.purple {
      background-color: #99004c;
    }
    &.maroon {
      background-color: #7e0023;
    }

    .category {
      font-size: 1em;
      color: @light-gray;
      font-weight: bold;
      text-shadow: 1px 1px 1px black;
    }

    .title {
      font-size: 1.5em;
      color: white;
      font-weight: bolder;
      text-shadow: 1px 1px 2px black;
    }

    .emoji {
      vertical-align: text-bottom;
      border: 3px solid white;
      border-radius: 8px;
      box-shadow: 0 0 5px @white;
      color: @white;
    }
  }

  .card-body {
    padding: 1em;
    padding-top: 0;

    .value {
      font-size: 7em;
      text-align: center;
      //color: #09AA00;
      //text-shadow:
      //  -1px -1px 0 #000,
      //   1px -1px 0 #000,
      //  -1px  1px 0 #000,
      //   1px  1px 0 #000;;
    }

    .container {
      width: 100%;
      height: 15em;
      display: inline-block;
      padding: 1em;

      .container-header {
        text-align: center;
      }

      .divider {
        background-color: black;
        color: black;
        height:4px;
        margin: 0 auto;
        padding:0;
        width: 75%;
        text-align: center;
      }

      .my-station{
        vertical-align: middle;
      }

      .ranking {
        font-size: 3.5em;
        text-align: center;
      }

      /* Top-Half of Widget */
      .national-container {
        height: 17.5em;
        position: absolute;
        width: 20.5em;
        //background-color: #00b3ee;
      }
      .state-container {
        position: relative;
        float: right;
        height: 17.5em;
        width: 20.5em;
        //background-color: #ffff00;
      }

      /* Bottom-Half of Widget */
      .nationanl-ranking-container {
        position: absolute;
        top: 25.5em;
        height: 17.5em;
        width: 10em;
        //background-color: #7e0023;
      }

      .local-container {
        position: absolute;
        top: 25.5em;
        left: 12.25em;
        height: 17.5em;
        width: 20.5em;
        //background-color: #00c800;
      }

      .state-ranking-container {
        position: absolute;
        top: 25.5em;
        left: 33em;
        height: 17.5em;
        width: 10em;
        float: right;
        //background-color: #7e0023;
      }




    }

    .description {
      font-size: 1em;
    }
  }



  .actions {
    padding: 1em;
    border-top: 1px solid @medium-light-gray;
  }

  .closestStation {
    width: 100%;
    height: 234px;
    margin-top: 76px;

    .leaflet-control-zoom {
      visibility: hidden;
    }
  }
}

