//======================================================General=======================================================//
#faq {

  .question-answer-container {
    text-align: left;
    max-height: 90%;
    overflow-y: auto;
  }

  .panel-margin {
    margin-top: 10px;
  }

  .section-header {
    margin-top: 0px;
    margin-bottom: 0;
    color: @medium-lighter-gray;
    background-color: @dark-blue;
  }

  .center-text {
    text-align: center;
  }

  .answer-text p {
    color: @medium-darker-gray;
    font-size: 15px;
    font-family: Georgia,Serif;
  }

  .jump-menu {
    text-align: left;
  }

  .faq-title {
    text-align: left;
  }

  .faq-header {
    width: 100%;
    height: 10%;
  }

  .menu-items {
    position: relative;
    display: block;
    margin-left: 10px;
    cursor: pointer;
  }

  .faq-question-container {
    cursor: pointer;
    outline: none;
  }

  .chevron {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
  }

  .clear {
    clear: both;
  }

  .voteButtons {
    text-shadow: 1px 1px 1px @white;
    outline: none;
    margin-right: 10px;
  }

  .green {
    color: @dark-green;
  }

  .red {
    color: @red;
  }
}

.imageFit p img {
  width: 100%;
}


//========================================================Search=====================================================//
@searchResultsBorder: 1px solid @faqSearchResultsBorderColor;
#faq .search-bar {

  position: relative;
  height: 100%;
  margin-left: 0px;
  padding-left: 0px;

  .search-box {
    font-size: 1.25em;
    text-align: left;
    padding: .25em .5em;
    background-color: rgba(25,50,92,.85);
    max-width: 40em;
    border-radius: 1em;
    color: @medium-lighter-gray;
    border: none;
    outline: none;
  }
  .search-results {
    text-align: left;
    position: absolute;
    border: @searchResultsBorder;
    background-color: @faqSearchResultsBackground;
    z-index: 10;
  }
  .results-count {
    font-size: .75em;
    color: @faqSearchResultsText;
    margin: .5em;
  }

  .search-hit {
    margin: .5em;
    padding: .25em;

    &:hover {
      background-color: @faqSearchHover;

      mark {
        background-color: @faqSearchFieldHighlight;
      }
    }
  }

  hr {
    margin-top: 0;
    margin-bottom: 0;
  }
}
