<main>
    <div class='col-md-2 col-md-offset-2'>
        <h1>Contact Us</h1>
        <form action='' method='post'>
            <div>
                <div class='col-md-12'>
                    <label class="label-left" for='name'>Name</label>
                    <input class="input-right" type='text' id='name' value=''/>
                </div>
                <div class='col-md-12'>
                    <label class="label-left" for='emailAddress'>Email</label>
                    <input class="input-right" type='text' id='emailAddress' value=''/>
                </div>
                <div class='col-md-12'>
                    <label class="label-left" for='subject'>Subject</label>
                    <input class="input-right" type='text' id='subject' value=''/>
                </div>
                <div class='col-md-12'>
                    <label class="label-left" for='message'>Message</label>
                    <textarea class="textarea-right" id='message'></textarea>
                </div>
                <div class='col-md-12'>
                    <input class='btn btn-primary' type='submit' name='$formSubmit' ng-click="ctrl.SendEmail()" value='Submit'/>
                    <button class="btn" ng-click="ctrl.SendEmail()" >Submit</button>
                </div>
            </div>
        </form>
    </div>
</main>