<main id="compareWrapper">
    <div id="compare-plots" class="col-md-8">
        <div ng-repeat="plot in pctrl.plots" class="data-plot well" style="margin: 1em 0;" ng-class="{'hidden':plot.visible == false}">
            <nvd3 options="pctrl.options" data="plot.data" ></nvd3>
        </div>
    </div>

    <div class="col-md-4" id="compare-list">
        <uib-accordion>
            <uib-accordion-group heading="Pollutants">
                <ul class="list-group" ng-repeat="pollutant in pctrl.pollutants">
                    <li class="list-group-item" ng-class="{'active': pollutant.checked}" ng-click="pollutant.checked=!pollutant.checked; pctrl.selectionService.updateParameterSelectionWith(pollutant.kind)">{{pollutant.name}}</li>
                </ul>
            </uib-accordion-group>
            <uib-accordion-group heading="Weather">
                <ul class="list-group" ng-repeat="weatherType in pctrl.weatherTypes">
                    <li class="list-group-item" ng-class="{'active': weatherType.checked}" ng-click="weatherType.checked=!weatherType.checked; pctrl.selectionService.updateParameterSelectionWith(weatherType.kind)">{{weatherType.name}}</li>
                </ul>
            </uib-accordion-group>
            <uib-accordion-group heading="Monitoring Sites">
                <div ng-repeat="station in pctrl.stations" class="list-element well well-sm">
                    <input type="checkbox" class="checkbox-inline" ng-model="station.visible" ng-change="pctrl.selectionService.updateStationSelectionWith(station.id)">
                    <span class="checkbox-text">Station - {{station.id}}</span>
                </div>
            </uib-accordion-group>
        </uib-accordion>
        <button class="btn btn-block btn-primary" ng-click="pctrl.generatePlot()">Compare</button>
    </div>
</main>
