<!-- SEARCH -->
<div class="search-container box well">
    <span class="icon"><i class="fa fa-search"></i></span>
    <input type="search" class="search" placeholder="Search for a station"
           ng-model="ctrl.stationQuery"
           update-on-enter
           ng-change="ctrl.searchStations()"
           ng-model-options="ctrl.searchOptions"/>
</div>

<!-- SEARCH RESULTS -->
<div class="search-results" ng-if="ctrl.stationQueryResults.length > 0">

    <!-- STATIONS -->
    <div class="station-container">
        <table class="table">
            <thead>
            <tr>
                <th><span class="pull-left">Find</span></th>
                <th><span>Station Name</span></th>
                <th><input type="checkbox"></th>
            </tr>
            </thead>
            <!-- TODO: getting an error here:
            https://docs.angularjs.org/error/ngRepeat/dupes?p0=marker%20in%20ctrl.stationGroup&p1=object:398&p2=%7B%22id%22:%22840261619991%22,%22userid%22:1,%22indoor%22:false,%22agency%22:%22EPA%20Office%20of%20Atmospheric%20Programs%22,%22name%22:%22Ann%20Arbor%22,%22city%22:%22Dexter%22,%22state%22:%22MI%22,%22postal%22:%2248130%22,%22groupname%22:null,%22groupemail%22:null,%22aqi%22:19,%22@version%22:%221%22,%22@timestamp%22:%222016-03-09T10:37:36.063Z%22,%22location%22:%7B%22lat%22:42.4164,%22lon%22:-83.9019%7D,%22$$hashKey%22:%22object:398%22%7D
            -->
            <tr ng-repeat="marker in ctrl.stationQueryResults track by marker.id">
                <td>
                    <button class="btn btn-map-marker pull-left" ng-click="ctrl.setSelectedStation(marker)">
                        <span class="fa fa-map-marker" uib-tooltip="Locate On Map" tooltip-placement="left"></span>
                    </button>
                </td>
                <td>{{::marker.name}}</td>
                <td><input class="pull right"
                           type="checkbox"
                           ng-click="ctrl.toggleMarker(marker)"
                           ng-checked="ctrl.isMarkerInGroup(marker)"></td>
            </tr>
        </table>
    </div>

    <!-- GROUPS -->
    <div class="group-container" ng-if="ctrl.stationQueryResults.length > 0">
        <table class="table">
            <thead>
            <tr>
                <th><span>Group Name</span></th>
                <th><input class="pull-right" type="checkbox"></th>
            </tr>
            </thead>
            <tr ng-repeat="marker in ctrl.stationQueryResults track by marker.id">
                <td>{{::marker.name}}</td>
                <!-- TODO: add all markers in GROUP -->
                <td><input class="pull-right" type="checkbox"></td>
            </tr>
        </table>
    </div>
</div>

<!-- USER STATION SELECTION -->
<div class="container-header">
    <span class="pull-left">Selected Stations: </span>
    <span class="pull-right">{{ctrl.markerSelection.length}}</span>
</div>
<div class="selection-container">
    <table class="table">
        <thead>
        <tr>
            <th><span class="pull-left">Find</span></th>
            <th><span>Station Name</span></th>
            <th><input class="pull-right" type="checkbox"></th>
        </tr>
        </thead>
        <tr ng-repeat="marker in ctrl.userStations track by marker.id">
            <td>
                <button class="btn btn-map-marker pull-left" ng-click="ctrl.setSelectedStation(marker)">
                    <span class="fa fa-map-marker" uib-tooltip="Locate On Map" tooltip-placement="left"></span>
                </button>
            </td>
            <td>{{::marker.name}}</td>
            <td><input class="pull-right"
                       type="checkbox"
                       ng-click="ctrl.toggleChecked(marker)"
                       ng-checked="ctrl.isMarkerChecked(marker)"></td>
        </tr>
    </table>
</div>
<div class="container-header">
    <button class="btn btn-primary btn-action pull-right" ng-click="ctrl.saveSelectionGroup()">Save</button>
    <button class="btn btn-danger btn-action pull-right" ng-click="ctrl.clearSelectionGroup()">Clear</button>
</div>


<!--&lt;!&ndash; Search for Stations &ndash;&gt;-->
<!--<uib-accordion>-->
    <!--<uib-accordion-group style="color:black" heading="Search Stations">-->
        <!--<div class="box well">-->
            <!--<div class="container">-->
                <!--<span class="icon"><i class="fa fa-search"></i></span>-->
                <!--<input type="search" class="search" placeholder="Search for a station"-->
                       <!--ng-model="ctrl.stationQuery"-->
                       <!--update-on-enter-->
                       <!--ng-change="ctrl.searchStations()"-->
                       <!--ng-model-options="ctrl.searchOptions"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="list-group" ng-if="ctrl.stationQueryResults.length > 0">-->
            <!--<div class="list-group-item"-->
                 <!--ng-repeat="marker in ctrl.stationQueryResults track by marker.id | orderBy:ctrl.sortOrder">-->
                <!--<span class="item-label pull-left">{{::marker.name}}</span>-->
                <!--<button class="btn btn-map-marker pull-right" ng-click="ctrl.setSelectedStation(marker)">-->
                    <!--<span class="fa fa-map-marker" uib-tooltip="Locate On Map" tooltip-placement="left"></span>-->
                <!--</button>-->
                <!--<button ng-if="!ctrl.isMarkerInGroup(marker)" class="btn pull-right active"-->
                        <!--ng-click="ctrl.addMarkerToGroup(marker)">-->
                    <!--<span class="fa fa-plus"></span>-->
                <!--</button>-->
                <!--<button ng-if="ctrl.isMarkerInGroup(marker)" class="btn pull-right"-->
                        <!--ng-click="ctrl.removeMarkerFromGroup(marker)">-->
                    <!--<span class="fa fa-minus"></span>-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</uib-accordion-group>-->
<!--</uib-accordion>-->

<!--&lt;!&ndash; Group Stations &ndash;&gt;-->
<!--<uib-accordion>-->
    <!--<uib-accordion-group style="color:black" heading="Group Stations">-->
        <!--&lt;!&ndash; Current Selected Station &ndash;&gt;-->
        <!--<div class="list-group" id="station-container" ng-if="ctrl.currentStation.hasOwnProperty('id')">-->
            <!--<div class="list-group-item station-header">-->
                <!--<span class="item-label pull-left">{{ctrl.currentStation.name}}</span>-->
                <!--<button class="btn btn-map-marker pull-right" ng-click="ctrl.setSelectedStation(ctrl.currentStation)">-->
                    <!--<span class="fa fa-map-marker" uib-tooltip="Locate On Map" tooltip-placement="left"></span>-->
                <!--</button>-->
                <!--<button ng-if="!ctrl.isMarkerInGroup(ctrl.currentStation)" class="btn pull-right active"-->
                        <!--ng-click="ctrl.addMarkerToGroup(ctrl.currentStation)">-->
                    <!--<span class="fa fa-plus"></span>-->
                <!--</button>-->
                <!--<button ng-if="ctrl.isMarkerInGroup(ctrl.currentStation)" class="btn pull-right"-->
                        <!--ng-click="ctrl.removeMarkerFromGroup(ctrl.currentStation)">-->
                    <!--<span class="fa fa-minus"></span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="well" ng-if="ctrl.currentStation.id">-->
                <!--<div class="station-desc">-->
                    <!--<span>Agency: {{ctrl.currentStation.agency}}</span>-->
                    <!--<span>City: {{ctrl.currentStation.city}}</span>-->
                    <!--<span>State: {{ctrl.currentStation.state}}</span>-->
                    <!--<span>Postal: {{ctrl.currentStation.postal}}</span>-->
                    <!--<span>Current AQI: {{ctrl.currentStation.aqi}}</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Collection of Stations in Selection &ndash;&gt;-->
        <!--<div class="list-group">-->
            <!--<div class="list-group-item" ng-repeat="marker in ctrl.stationGroup">-->
                <!--<span class="item-label pull-left">{{::marker.name}}</span>-->
                <!--<button class="btn btn-map-marker pull-right" ng-click="ctrl.setSelectedStation(marker)">-->
                    <!--<span class="fa fa-map-marker" uib-tooltip="Locate On Map" tooltip-placement="left"></span>-->
                <!--</button>-->
                <!--<button class="btn pull-right" ng-click="ctrl.removeMarkerFromGroup(marker)">-->
                    <!--<span class="fa fa-minus"></span>-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</uib-accordion-group>-->
<!--</uib-accordion>-->

<!--&lt;!&ndash; Group Parameters&ndash;&gt;-->
<!--<uib-accordion>-->
    <!--<uib-accordion-group style="color:black" heading="Pollutants">-->
        <!--<div class="box well">-->
            <!--<div class="container">-->
                <!--<span class="icon"><i class="fa fa-search"></i></span>-->
                <!--<input ng-model="q" type="search" class="search" placeholder="pollutant type"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="list-group">-->
            <!--<div class="list-group-item" ng-repeat="pollutant in ctrl.pollutantOptions | filter:q">-->
                <!--<span class="item-label pull-left">{{::pollutant.name}}</span>-->
                <!--<button class="btn pull-right" ng-class="{'active': !pollutant.selected}"-->
                        <!--ng-click="ctrl.togglePollutantOption(pollutant)">-->
                    <!--<span class="fa fa-plus" ng-if="!pollutant.selected"></span>-->
                    <!--<span class="fa fa-minus" ng-if="pollutant.selected"></span>-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</uib-accordion-group>-->
<!--</uib-accordion>-->

<!--&lt;!&ndash; Turn Clusters On/Off&ndash;&gt;-->
<!--<uib-accordion>-->
    <!--<uib-accordion-group style="color:black" heading="Turn Cluster On / Off">-->
        <!--<div class="box well">-->
            <!--<div class="container">-->
                <!--<span class="icon"><i class="fa fa-search"></i></span>-->
                <!--<input ng-model="q" type="search" class="search" placeholder="search by state..."/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="list-group">-->
            <!--<div class="list-group-item" ng-repeat="cluster in ctrl.clusters | filter:q">-->
                <!--<span class="item-label pull-left">{{cluster.name}}</span>-->
                <!--<button class="btn pull-right" ng-class="{'active': cluster.visible}"-->
                        <!--ng-click="cluster.visible = !cluster.visible; toggleCluster(cluster)">-->
                    <!--<span>{{cluster.visible ? "On" : "Off"}}</span>-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="cluster-toggles">-->
            <!--<button class="btn" ng-click="ctrl.showAllClusters()">Show All Clusters</button>-->
            <!--<button class="btn active" ng-click="ctrl.hideAllClusters()">Hide All Clusters</button>-->
        <!--</div>-->
    <!--</uib-accordion-group>-->
<!--</uib-accordion>-->