<!-- USER STATIONS -->
<div class="container-header">
    <span class="pull-left">My Stations: </span>
</div>
<div class="selection-container">
    <table class="table">
        <thead>
        <tr>
            <th><span class="pull-left">Find</span></th>
            <th><span>Station Name</span></th>
        </tr>
        </thead>
        <tr ng-repeat="marker in ctrl.userStations track by marker.id">
            <td>
                <button class="btn btn-info btn-map-marker pull-left" ng-click="ctrl.setSelectedStation(marker)">
                    <span class="fa fa-map-marker" uib-tooltip="Locate On Map" tooltip-placement="left"></span>
                </button>
            </td>
            <td>{{::marker.name}}</td>
        </tr>
    </table>
</div>

<!-- USER GROUPS -->
<div class="container-header">
    <span class="pull-left">My Groups: </span>
    <button class="btn btn-primary pull-right"
            ng-if="!ctrl.userAddingNewGroup"
            ng-click="ctrl.addNewGroup()">
        New Group</button>
    <button class="btn btn-warning pull-right"
            ng-if="ctrl.userAddingNewGroup"
            ng-click="ctrl.cancelNewGroup()">
        Cancel</button>
</div>
<div class="selection-container">
    <table class="table">
        <thead>
        <tr>
            <th><span>Name</span></th>
            <th><span>Description</span></th>
        </tr>
        </thead>
        <tr ng-if="ctrl.userAddingNewGroup">
            <td><input class="form-control toolbar-input-text" type="text" ng-model="ctrl.newGroupName"></td>
            <td><input class="form-control toolbar-input-text" type="text" ng-model="ctrl.newGroupDesc"></td>
            <td><button class="btn btn-primary"
                        ng-click="ctrl.createNewGroup()"
                        ng-disabled="ctrl.newGroupName.length == 0">
                Create</button></td>
        </tr>
        <tr ng-repeat="group in ctrl.userGroups track by group.id">
            <td>{{::group.name}}</td>
            <td>{{::group.description}}</td>
            <td>
                <button class="btn btn-info pull-right"
                        ng-if="ctrl.selectedGroup != group"
                        ng-click="ctrl.listStationsInGroup(group)">
                List</button>
                <button class="btn btn-info pull-right"
                        ng-if="ctrl.selectedGroup == group"
                        ng-click="ctrl.hideStationsInGroup(group)">
                Hide</button>
            </td>
        </tr>
    </table>
</div>

<!-- MARKERS IN SELECTED GROUP -->
<div class="container-header" ng-if="ctrl.selectedGroup['id'] != undefined">
    <span class="pull-left">Stations in {{ctrl.selectedGroup.name}}: </span>
    <button class="btn btn-warning pull-right" ng-click="ctrl.editGroup(ctrl.selectedGroup)">Edit Group</button>
</div>
<div class="home-selection-container" ng-if="ctrl.selectedGroup['id'] != undefined">
    <span ng-if="ctrl.markersInSelectedGroup == 0">You do not have any stations in {{ctrl.selectedGroup.name}}. Please click "Edit Group" button to add some.</span>
    <table class="table" ng-if="ctrl.markersInSelectedGroup.length > 0">
        <thead>
        <tr>
            <th><span class="pull-left">Find</span></th>
            <th><span>Station Name</span></th>
        </tr>
        </thead>
        <tr ng-repeat="marker in ctrl.markersInSelectedGroup track by marker.id">
            <td>
                <button class="btn btn-info btn-map-marker pull-left" ng-click="ctrl.setSelectedStation(marker)">
                    <span class="fa fa-map-marker" uib-tooltip="Locate On Map" tooltip-placement="left"></span>
                </button>
            </td>
            <td>{{::marker.name}}</td>
        </tr>
    </table>
</div>
