<main ng-controller="ComparePageController as pctrl">
    <div class="col-md-9" ng-controller="NVD3Controller as cctrl">
        <div class="data-plot">
            <nvd3 class="col-lg-8" options="cctrl.options" data="cctrl.data"></nvd3>
        </div>

        <div class="data-plot">
            <nvd3 class="col-lg-8" options="cctrl.options" data="cctrl.data"></nvd3>
        </div>
    </div>
    <div id="compare-plots" ng-class="{'hidden':!plotVisible}" class="col-lg-8" >

    </div>
    <div class="col-md-3 well" id="compare-list">
        <div ng-repeat="station in pctrl.stations" class="list-element well well-sm">
            <input type="checkbox" class="checkbox-inline" ng-model="station.plotVisible">
            <span class="checkbox-text">Station - {{station.id}}</span>
        </div>
    </div>
</main>