<main>
    <contact-us class='col-md-2 col-md-offset-2'>
        <h1>Contact Us</h1>
        <form action='' method='post'>
            <div>
                <div class='col-md-12'>
                    <label for='name'>Name</label>
                    <input type='text' id='name' value=''/>
                </div>
                <div class='col-md-12'>
                    <label for='email'>Email</label>
                    <input type='text' id='email' value=''/>
                </div>
                <div class='col-md-12'>
                    <label for='subject'>Subject</label>
                    <input type='text' id='subject' value=''/>
                </div>
                <div class='col-md-12'>
                    <label for='message'>Message</label>
                    <textarea id='message'></textarea>
                </div>
                <div class='col-md-12'>
                    <input class='btn btn-primary' type='submit' name='$formSubmit' value='Submit'/>
                </div>
            </div>
        </form>
    </contact-us>
</main>