<main>
    <disclaimer>
        <h1 class="col-md-10 col-md-offset-2">Disclaimer</h1>
        <text class="col-md-8 col-md-offset-2">
            Although we pull our data from numerous legitimate sources, including federal, state, local, provincial, and tribal organizations, the data has not been verified and/or validated and thus should not be used as a base to create and/or support public policy decisions, guidance, regulation, or trends.

            For officially verified and validated air quality, visit the EPA’s Air Quality System (http://www.epa.gov/aqs).
        </text>

    </disclaimer>
</main>