<div class="row">
    <form class="form-login" role="form">
        <div class="col-md-6">
            <h4>Register</h4>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" ng-model="ctrl.registration.userName"
                       required autofocus>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password"
                       ng-model="ctrl.registration.password" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password"
                       ng-model="ctrl.registration.confirmPassword" required>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="button" ng-click="signUp()">Register</button>
        </div>
    </form>
    <form class="form-login" role="form">
        <div class="col-md-6">

            <h4>Login</h4>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" ng-model="ctrl.loginData.userName"
                       required autofocus>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="ctrl.loginData.password"
                       required>
            </div>
            <button class="btn btn-info btn-lg btn-block" type="button" ng-click="login()">Login</button>
        </div>
    </form>
</div>