<form class="form-login" role="form">
    <div class="modal-header">
        <i class="fa fa-times fa2x pull-right" ng-click="ctrl.closeModal()"></i>
        <h2>Login</h2>
    </div>
    <div class="modal-body">
        <div data-ng-hide="ctrl.message == ''" class="alert alert-danger">
            {{ctrl.message}}
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" data-ng-model="ctrl.loginData.userName" required autofocus>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" data-ng-model="ctrl.loginData.password" required>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="ctrl.login()">Submit</button>
    </div>
</form>