<main ng-controller="MapPageController as pctrl">

    <!-- This is the MAP and everything with it -->
    <div ng-controller="MapController as mctrl">
        <leaflet id="map" lf-center="center" markers="markers" layers="layers" event-broadcast="events"></leaflet>

        <!-- Coordinate bounds of Map for development purposes -->
        <div ng-class="{'hidden':!showBounds}" class="col-md-12" id="map-coords">
            <div class="coord-bound" id="sw">
                <h3 class="coord-title">South West</h3>
                <form class="coord-lat-lng">
                    Lat : <input type="number" step="any" ng-model="bounds._southWest.lat" />
                    Lng : <input type="number" step="any" ng-model="bounds._southWest.lng" />
                </form>
            </div>
            <div class="coord-bound" id="ne">
                <h3 class="coord-title">North East</h3>
                <form class="coord-lat-lng">
                    Lat : <input type="number" step="any" ng-model="bounds._northEast.lat" />
                    Lng : <input type="number" step="any" ng-model="bounds._northEast.lng" />
                </form>
            </div>
        </div>
    </div>

    <!-- This is the NVD3 data plot that is linked with the Details Panel -->
    <div id="details-plot" ng-class="{'hidden':!plotVisible}" class="col-md-9" ng-controller="NVD3Controller as cctrl">
        <nvd3 options="cctrl.options" data="cctrl.data"></nvd3>
        <!-- An SVG object will be here when built -->
    </div>

    <!-- Details Panel -->
    <section ng-class="{'hidden':!showDetails}" class="col-md-3" id="details">
        <div class="panel">
            <span class="panel-title">Device Information</span>
            <div class="panel-body">
                <div class="col-md-10 col-md-offset-1">Name: {{station.name}}</div>
                <div class="col-md-10 col-md-offset-1">ID: {{station.id}}</div>
                <div class="col-md-10 col-md-offset-1">Lat: {{station.location.lat}}</div>
                <div class="col-md-10 col-md-offset-1">Lon: {{station.location.lng}}</div>
                <div class="col-md-10 col-md-offset-1">Visibility: {{station.private ? 'Private':'Public'}}</div>
                <div class="col-md-10 col-md-offset-1">Type: {{station.indoor ? 'Indoor':'Outdoor'}}</div>
                <div class="col-md-10 col-md-offset-1">{{station.lastUpdated}}</div>
            </div>
        </div>
        <div class="panel">
            <span class="panel-title">Latest Readings <i ng-class="{'fa-spin':station.updating}" class="fa fa-rotate-right fa-2x"></i></span>
            <div class="panel-body">
                <div class="col-md-10 col-md-offset-1">CO: {{station.last.co}}</div>
                <div class="col-md-10 col-md-offset-1">PM 2.5: {{station.last.pm}}</div>
                <div class="col-md-10 col-md-offset-1">CO2: {{station.last.co2}}</div>
                <div class="col-md-10 col-md-offset-1">NO2: {{station.last.no2}}</div>
                <div class="col-md-10 col-md-offset-1">O3: {{station.last.o3}}</div>
                <div class="col-md-10 col-md-offset-1">Temp: {{station.last.temp}}</div>
                <div class="col-md-10 col-md-offset-1">Humidity: {{station.last.humidity}}</div>
                <div class="col-md-10 col-md-offset-1">Pressure: {{station.last.pressure}}</div>
                <div class="col-md-10 col-md-offset-1">Altitude: {{station.last.altitude}}</div>
            </div>
        </div>
        <div class="panel">
            <span class="panel-title">AMS Data</span>
            <div class="panel-body">
                <button id="toggle-plot" ng-click="pctrl.togglePlot(true)">{{plotVisible ? 'Hide' :'Show'}} Data Plot</button>
            </div>
        </div>
    </section>
</main>
