<main id="myProfile" ng-controller="MyProfileController as ctrl">
    <h1 class="col-lg-8 col-lg-offset-3">My Profile</h1>

    <div class="row">
        <div class="initials col-lg-offset-3 col-lg-1">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x initialsBorder"></i>
                        <i class="fa fa-circle fa-stack-1x initialsBG"></i>
                        <span class="fa-stack-1x">JM</span>
                    </span>
            <!--<div class="col-lg-12">-->
            <button class="btn btn-sm btn-default">Upload Photo</button>
            <!--</div>-->
        </div>

        <form class="col-lg-6" id="profileForm">
            <div class="form-group col-lg-5">
                <input type="text" class="form-control" id="firstName" placeholder="First Name"/>
            </div>
            <div class="form-group col-lg-2">
                <input type="text" class="form-control" id="initial" placeholder="I">
            </div>
            <div class="form-group col-lg-7">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name">
            </div>
            <div class="form-group col-lg-8">
                <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="form-group col-lg-8">
                <input type="text" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group col-lg-8">
                <input type="password" class="form-control" id="newPass" placeholder="Reset Password">
            </div>
            <div class="form-group col-lg-8">
                <input type="password" class="form-control" id="confirmPass" placeholder="Confirm Password">
            </div>
            <div class="form-group col-lg-2 col-lg-offset-1 submitButton">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</main>