<script>


    //# sourceURL=dynamicScript.js
</script>
<main id="myStations" ng-controller="MyStationsController as ctrl">
    <div class="stations-wrapper col-md-8 col-md-offset-2">
        <h1>My Stations</h1>

        <div class="col-md-12 warning-wrapper">
            <span class="warning-title">System Notifications</span>

            <div ng-repeat="notif in ctrl.notifications">
                <system-notification type="{{notif.type}}" subtype="{{notif.subtype}}"
                                     station-id="{{notif.stationId}}"></system-notification>
            </div>
        </div>
    </div>
    <div class="col-md-12 download-btn">
        <button class="btn btn-default btn-sm">Download Configuration</button>
    </div>
    <div class="col-md-12 station-wrapper">
        <div ng-repeat="station in ctrl.stations">
            <station station="station"></station>
        </div>
        <!--<div class="station">-->
            <!--<div class="station-content">-->
                <!--<span class="warning-indicator"></span>-->

                <!--<div class="station-header row">-->
                    <!--<div class="station-title">-->
                        <!--<span class="station-name col-md-3">Station - <a class="station-id">12346</a></span>-->
                        <!--<span class="station-nickname-none col-md-3">No Nickname</span>-->
                    <!--</div>-->
                    <!--<span class="station-location col-md-5">Salt Lake City, UT</span>-->

                    <!--<div class="col-md-1 ams-refresh">-->
                        <!--<i class="fa fa-rotate-right"></i>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<form class="station-body hidden">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-3">-->
                            <!--<div class="radio-group">-->
                                <!--<label>-->
                                    <!--<input type="radio" name="ams12346IndoorOutdoor">-->
                                    <!--Indoor-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" name="ams12346IndoorOutdoor">-->
                                    <!--Outdoor-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="radio-group">-->
                                <!--<label>-->
                                    <!--<input type="radio" name="ams12346PublicPrivate">-->
                                    <!--Public-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" name="ams12346PublicPrivate">-->
                                    <!--Private-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                            <!--<label class="sr-only">Station Nickname</label>-->
                            <!--<input type="text" class="form-control" placeholder="Station Nickname">-->
                        <!--</div>-->
                        <!--<div class="station-details col-md-6">-->
                            <!--<span class="station-location">lat: 84.1234216 lon: -111.12346322</span><br/>-->
                            <!--<span class="station-last-updated">Last updated 1/1/2015 at 9:33 pm</span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="station-update row">-->
                        <!--<span class="ams-owner col-md-6">Owner: Joe User</span>-->

                        <!--<div class=" update-buttons col-md-6">-->
                            <!--<button class="btn btn-default btn-lg" type="submit">Save</button>-->
                            <!--<button class="btn btn-default btn-lg">Cancel</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
            <!--<div class="expander">-->
                <!--<i class="fa fa-angle-double-down"></i>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="station">-->
            <!--<div class="station-content">-->
                <!--<span class="error-indicator"></span>-->

                <!--<div class="station-header row">-->
                    <!--<div class="station-title">-->
                        <!--<span class="station-name col-md-3">Station - <a class="station-id">12346</a></span>-->
                        <!--<span class="station-nickname-none col-md-3">No Nickname</span>-->
                    <!--</div>-->
                    <!--<span class="station-location col-md-5">Salt Lake City, UT</span>-->

                    <!--<div class="col-md-1 ams-refresh">-->
                        <!--<i class="fa fa-rotate-right"></i>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<form class="station-body hidden">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-3">-->
                            <!--<div class="radio-group">-->
                                <!--<label>-->
                                    <!--<input type="radio" name="ams12346IndoorOutdoor">-->
                                    <!--Indoor-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" name="ams12346IndoorOutdoor">-->
                                    <!--Outdoor-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="radio-group">-->
                                <!--<label>-->
                                    <!--<input type="radio" name="ams12346PublicPrivate">-->
                                    <!--Public-->
                                <!--</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" name="ams12346PublicPrivate">-->
                                    <!--Private-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                            <!--<label class="sr-only">Station Nickname</label>-->
                            <!--<input type="text" class="form-control" placeholder="Station Nickname">-->
                        <!--</div>-->
                        <!--<div class="station-details col-md-6">-->
                            <!--<span class="station-location">lat: 84.1234216 lon: -111.12346322</span><br/>-->
                            <!--<span class="station-last-updated">Last updated 1/1/2015 at 9:33 pm</span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="station-update row">-->
                        <!--<span class="ams-owner col-md-6">Owner: Joe User</span>-->

                        <!--<div class=" update-buttons col-md-6">-->
                            <!--<button class="btn btn-default btn-lg" type="submit">Save</button>-->
                            <!--<button class="btn btn-default btn-lg">Cancel</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
            <!--<div class="expander">-->
                <!--<i class="fa fa-angle-double-down"></i>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    </div>
</main>