<main id="myStations" ng-controller="MyStationsController as ctrl">
    <div class="stations-wrapper col-md-8 col-md-offset-2">
        <h1>My Stations</h1>

        <div class="col-md-12 warning-wrapper" ng-if="ctrl.notifications">
            <span class="warning-title">System Notifications</span>

            <div ng-repeat="notif in ctrl.notifications">
                <system-notification type="{{notif.type}}" subtype="{{notif.subtype}}"
                                     station-id="{{notif.stationId}}"></system-notification>
            </div>
        </div>
        <div class="col-md-12 download-btn">
            <button class="btn btn-default btn-sm">Download Configuration</button>
        </div>
        <div class="col-md-12 station-wrapper">
            <div ng-repeat="station in ctrl.stations">
                <station station="station"></station>
            </div>
        </div>
    </div>
</main>